<!-- Footer -->
<footer id="footer">
    
    <div class="container dark">
        <div class="row content">
            
            <div class="col-md-3 px-5">
            </div>

            <div class="col-md-3 px-5">
                <div class="footer-col middle">
                    <h4>Important links</h4>
                        <div class="media-body"><i class = "zuri-icon arrow-right"></i><a class="link" href="https://zurianalytics.com/terms_conditions/" target="_blank">Terms & Conditions</a></div>
                        <div class="media-body"><i class = "zuri-icon arrow-right"></i><a class="link" href="https://zurianalytics.com/privacy_policy/" target="_blank">Privacy Policy</a></div>
                        <div class="media-body"><i class = "zuri-icon arrow-right"></i><a class="link" href="https://zurianalytics.com/imprint/" target="_blank">Imprint</a></div>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-3 px-5">
                <div class="footer-col middle">
                    <h4>Contact</h4>
                    <p>For any queries and questions approach us at <a class="link" href="mailto:contact@zurianalytics.com">contact@zurianalytics.com</a></p>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-3 px-5">
                <div class="footer-col last">
                    <h4>Connect with us</h4>
                        <a href="https://github.com/zurianalytics" target="_blank">
                            <i class = "zuri-icon size-l github"></i>
                        </a>
                        <a href="https://www.reddit.com/user/ZuriAnalytics" target="_blank">
                            <i class = "zuri-icon size-l reddit"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/zurianalytics" target="_blank">
                            <i class = "zuri-icon size-l linkedin"></i>
                        </a>
                </div> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</footer> <!-- end of footer -->
<!-- end of footer -->  