
    <div class="container-fluid" id="get-individual-etf" menu-item="Individual Product" top>

        <h1>Individual Product<i class = "zuri-icon code size-l align-middle"></i></h1>

        <div class="row">

            <div class="col-md-6">

                    <p>This endpoint searches for a product (like ETFs) by its <a class="info" data-tippy-content="
          An International Securities Identification Number (ISIN)
          uniquely identifies a security. It can be safely reused across applications">ISIN.<i class = "zuri-icon lightbulb"></i></a>
                    </p>

                    <p>
                        Retrieves all of the information known for a specific product in a <a class = "info"
                        data-tippy-content = "The blue box shows the output format for this method call and can be interacted with. 
                        Feel free to explore the output by expanding/ collapsing its components."
                        >JSON format.<i class = "zuri-icon lightbulb"></i></a>
                    </p>

                        <p>
                            In order to search for a product with a specific <span class = "accent-green">ISIN</span> use:
                        </p>
                        <p>
                            <code class="inline">{{apiUrl}}/product/<span class="accent-hard">ISIN</span></code>
                        </p>

                    <h3>Parameters</h3>
                    <ul>
                        <li>
                            <code class="accent-bold">isin</code> <code class="accent-gray">String</code> <code
                                class="accent-hard">Mandatory</code>
                            <p>
                                The ISIN that distinctly identifies the product.
                            </p>
                        </li>
                    </ul>

            </div>


            <div class="col-md-6">
                <div class="accent-box">
                    <header>
                        <a v-bind:href="apiUrl + '/product/' + 'DE000A0F5UG3'" ><code class = "accent-blink">GET</code><code>{{apiUrl}}/product/<span class="accent-hard">DE000A0F5UG3</span></code></a>
                    </header>


                    <div><code class="json">
                     {"totalFee":0.41,"indexName":"DJ Sustainability Eurozone ex Alcohol, Tobacco, Gambling, Armaments & Firearms and Adult Entertainment Index","name":"iShares Dow Jones Eurozone Sustainability Screened UCITS ETF (DE)","isin":"DE000A0F5UG3","provider":"iShares","domicile":"DEU","baseCurrency":"EUR","assetClass":"EQUITY","replicationMethod":"PHYSICAL","factor":null,"distributionFrequency":null,"distributionType":"DISTRIBUTING","listings":[{"currency":"EUR","exchange":"XETRA","ticker":"EXXV","reutersTicker":"SUBEEX.DE","bloombergTicker":"SUBEEX GY"},{"currency":"EUR","exchange":"SIX","ticker":"SUBEEX","reutersTicker":"EXXV.S","bloombergTicker":"SUBEEX SE"}],"regions":[{"country":"FRA","percentage":37.25},{"country":"DEU","percentage":26.92},{"country":"NLD","percentage":12.56},{"country":"ESP","percentage":12.35},{"country":"ITA","percentage":3.99},{"country":"FIN","percentage":3.34},{"country":"IRL","percentage":1.79},{"country":"PRT","percentage":1.08}],"sectors":[{"sector":"FINANCIALS","percentage":15.69},{"sector":"INFORMATION_TECHNOLOGY","percentage":13.88},{"sector":"INDUSTRIALS","percentage":12.18},{"sector":"HEALTH_CARE","percentage":12.01},{"sector":"CONSUMER_DISCRETIONARY","percentage":11.39},{"sector":"UTILITIES","percentage":9.3},{"sector":"CONSUMER_STAPLES","percentage":9.28},{"sector":"ENERGY","percentage":8.55},{"sector":"MATERIALS","percentage":6.25}]}
</code>
                    </div>
                </div>


            </div>
        </div>
    </div>
