
    <div class="container-fluid card" id="introduction" menu-item="ETF Data API" top>

        <div class="row">

            <div class="col-md-6">
                
                <h1>About ETF Data API<i class = "zuri-icon information size-l align-middle"></i></h1>
                
                <p>
                    We provide deep fundamental information, derived using AI, about most ETFs, ETNs, ETCs and other fund-like products listed on all major European exchanges.
                    The free and base service is a JSON API.
                </p>

                <p>
                    Includes basic information such as: 
                    Domicile, Followed Index, Asset Class, Fee, Currency, Replication Method, Distribution Type & Frequency.
                </p>
                
                <p>
                    {{apiName}} also provides deep fundamental information derived using ML to learn about the underlying securities such as: <b>Sector Exposure</b>, 
                    <b>Country Exposure</b>, <b>Factors</b>, <b>Dividend Yield</b> etc.
                </p>
        
                <p>
                    <div style = "text-align: right;">
                        <span class = "accent-bold align-middle">TRY IT OUT</span><i class = "zuri-icon arrow-right align-middle"></i>
                    </div>
                </p>
            </div>


            <div class="col-md-6">
                <div class="accent-box .light">

                    <header id="demo-header">
                        <code class="info"
                              data-tippy-content="Input an ISIN into the field to the right, to check what information we store about the security">
                            Type in an ISIN:</code><input v-model="isin" v-on:change="getFund()"/>
                            <br/>
                            <span class = "label">or just call</label>
                            <br/>
                            <a v-bind:href="url" class = "external">{{url}}<i class = "zuri-icon external"></i></a>
                    </header>


                    <div id="demo-content">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class = "accent-blue">{{ fund.name }}</h6>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-12">
                                <div id="sectors" style="width: 100%;" class = "left"></div>
                            </div>

                            <div class="col-md-12">
                                <div id="countries" style="width: 100%;" class = "right"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-m-12">
                                <label class = "label">Index</label><br/>
                                <span>{{ fund.indexName }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label class = "label">ISIN</label><br/>
                                <span>{{ fund.isin }}</span>
                            </div>
                            <div class="col-md-4">
                                <label class = "label">Asset Class</label><br/>
                                <span>{{ fund.assetClass }}</span>
                            </div>
                            <div class="col-md-4">
                                <label class = "label">Provider</label><br/>
                                <span>{{ fund.provider }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label class = "label">Factor</label><br/>
                                <span>{{ fund.factor }}</span>
                            </div>
                            <div class="col-md-4">
                                <label class = "label">Domicile</label><br/>
                                <span>{{ fund.domicile }}</span>
                            </div>
                            <div class="col-md-4">
                                <label class = "label">Base Currency</label><br/>
                                <span>{{ fund.baseCurrency }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label class = "label">Replication</label><br/>
                                <span>{{ fund.replicationMethod }}</span>
                            </div>
                            <div class="col-md-4">
                                <label class = "label">Type</label><br/>
                                <span>{{ fund.distributionType }}</span>
                            </div>
                            <div class="col-md-4">
                                <label class = "label">Frequency</label><br/>
                                <span>{{ fund.distributionFrequency }}</span>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>
    </div>