
    <div class="container-fluid" id="get-individual-etf" menu-item="Get Individual Product" top>

        <h1>Get Individual Product</h1>

        <div class="row">

            <div class="col-md-6">

                    <p>This endpoint searches for a product (like ETFs) by its <a class="info" data-tippy-content="
          An International Securities Identification Number (ISIN)
          uniquely identifies a security. It can be safely reused across applications">ISIN</a>.
                    </p>

                    <p>
                        Retrieves all of the information known for a specific product in a <a class = "info"
                        data-tippy-content = "The blue box shows the output format for this method call and can be interacted with. 
                        Feel free to explore the output by expanding/ collapsing its components."
                        >JSON format.</a>
                    </p>

                        <p>
                            In order to search for a product with a specific <span class = "accent-green">ISIN</span> write:
                        </p>
                        <p>
                            <code class="inline">{{apiUrl}}/product/<span class="accent-hard">ISIN</span></code>
                        </p>

                    <h3>Parameters</h3>
                    <ul>
                        <li>
                            <code class="accent-bold">isin</code> <code class="accent-gray">String</code> <code
                                class="accent-hard">Mandatory</code>
                            <p>
                                The ISIN that distinctly identifies the product.
                            </p>
                        </li>
                    </ul>

            </div>


            <div class="col-md-6">
                <div class="accent-box">
                    <header>
                        <code>GET</code><code>{{apiUrl}}/product/<span class = "accent-green">LU0378437502</span></code>
                    </header>


                    <div><code class="json">
{
   "totalFee":0.45,
   "indexName":"DJ Industrial Average Index",
   "name":"ComStage Dow Jones Industrial Average UCITS ETF",
   "isin":"LU0378437502",
   "provider":"Lyxor",
   "domicile":"LUX",
   "baseCurrency":"USD",
   "assetClass":"EQUITY",
   "replicationMethod":"SYNTHETIC",
   "factor":null,
   "distributionFrequency":"NOT_APPLICABLE",
   "distributionType":"ACCUMULATING",
   "listings":[
      {
         "currency":"USD",
         "exchange":"SIX",
         "ticker":"CBDJI",
         "reutersTicker":"CBSX6REU.S",
         "bloombergTicker":"CBDJIUS SE"
      },
      {
         "currency":"EUR",
         "exchange":"XETRA",
         "ticker":"C010",
         "reutersTicker":"C010.DE",
         "bloombergTicker":"CBINDU GY"
      },
      {
         "currency":"CHF",
         "exchange":"SIX",
         "ticker":"CBDJI",
         "reutersTicker":"CBDJI.S",
         "bloombergTicker":"CBDJI SE"
      }
   ],
   "regions":[
      {
         "country":"USA",
         "percentage":100.0
      }
   ],
   "sectors":[
      {
         "sector":"INFORMATION_TECHNOLOGY",
         "percentage":25.82
      },
      {
         "sector":"HEALTH_CARE",
         "percentage":15.68
      },
      {
         "sector":"CONSUMER_DISCRETIONARY",
         "percentage":14.43
      },
      {
         "sector":"INDISTRUALS",
         "percentage":12.72
      },
      {
         "sector":"FINANCIALS",
         "percentage":12.67
      },
      {
         "sector":"CONSUMER_STAPLES",
         "percentage":9.12
      },
      {
         "sector":"COMMUNICATION_SERVICES",
         "percentage":4.78
      },
      {
         "sector":"ENERGY",
         "percentage":3.78
      },
      {
         "sector":"MATERIALS",
         "percentage":1.01
      }
   ]
}                   
</code>
                    </div>
                </div>


            </div>
        </div>
    </div>
