
<nav v-bind:class="{ active: interaction.menu }" id = "side-menu">

    <a class="puller" href="" v-on:click.prevent="interaction.menu = !interaction.menu">
        <i class = "zuri-icon arrow-right"></i>
    </a>
    <div class="representation">
        <a href="#">
            <img class="logo" src="/images/zurianalytics_logo.png"/>
            <header>
                <span class="accent-blue">ETF</span> Data API
                <div class = "note">Quality ETF fundamental </br> data, updated daily.</div>
            </header>
        </a>
    </div>

    <ul>
        <li v-for="i in menuItems">
            <a :href="'#' + i.id" @click="smoothScrollToLink(i.linkTo, $event)">{{i.content}}</a>

            <ul v-if="i.subs.length > 0">
                <li v-for="si in i.subs">
                    <a :href = "'#' + si.id" @click="smoothScrollToLink(si.linkTo, $event)">{{si.content}}</a>
                </li>
            </ul>
        </li>
    </ul>

    <footer>
        <ul>
            <li class = "note">This is a <a class = "external" href='https://zurianalytics.com'>ZuriAnalytics</a> API.</a></li>
        </ul>
    </footer>
</nav>
