
    <div class="container-fluid" id="dynamic-search" menu-item="Dynamic Search" top>

        <h1>Dynamic Search<i class = "zuri-icon code size-l align-middle"></i></h1>

        <div class="row">

            <div class="col-md-6">

                <p>This endpoint searches products (like ETFs) by dynamic criteria, and retrieves the results in a 
                    <a class = "info"
                        data-tippy-content = "The blue box shows the output format for this method call and can be interacted with. 
                        Feel free to explore the output by expanding / collapsing its components."
                        >JSON format<i class = "zuri-icon lightbulb"></i></a>
                </p>

                <p>This endpoint is not meant as a way to extract comprehensive
                information about the desired products. It will return a list of basic attributes (ISIN & Name). Any further information
                needs to be fetched with using the <a href = "#get-individual-etf">Individual Endpoints</a></p>

                <p>
                    All of the parameters listed below can be attached as query parameters in an arbitrary order in order to build a request:
                </p>
                <p>
                    <code class="inline">{{apiUrl}}/search?<span class = "accent-bold">param1</span>=<span class = "accent-hard">v1</span>&amp;<span class = "accent-bold">param2</span>=<span class = "accent-hard">v2</span></code>
                </p>
            </div>
            
            <div class="col-md-6">
                <div class="accent-box">
                    <header>
                        <code>GET</code><code>{{apiUrl}}/search?<span class = "accent-bold">exchange</span>=<span class = "accent-hard">SIX</span>&#38;<span class = "accent-bold">USA</span>=<span class = "accent-hard">20</span>&#38;<span class = "accent-bold">TECHNOLOGY</span>=<span class = "accent-hard">30</span></code>
                    </header>
                    <code class="json">
{"content":[{"name":"iShares NASDAQ 100 UCITS ETF USD (Acc)","isin":"IE00B53SZB19"},{"name":"iShares Dow Jones Industrial Average UCITS ETF USD (Acc)","isin":"IE00B53L4350"},{"name":"ComStage MSCI North America UCITS ETF","isin":"LU0392494992"},{"name":"Xtrackers MSCI USA UCITS ETF 1C","isin":"IE00BJ0KDR00"},{"name":"SPDR S&P 500 UCITS ETF","isin":"IE00B6YX5C33"},{"name":"Amundi MSCI World Ex Europe UCITS ETF - EUR (C)","isin":"LU1681045537"},{"name":"iShares Core MSCI World UCITS ETF GBP Hedged (Dist)","isin":"IE00BD45YS76"},{"name":"Lyxor MSCI USA UCITS ETF - Acc","isin":"FR0011363423"},{"name":"iShares Core S&P 500 UCITS ETF USD (Dist)","isin":"IE0031442068"},{"name":"iShares MSCI World ESG Enhanced UCITS ETF USD (Acc)","isin":"IE00BHZPJ569"}],"metaInfo":{"pageNumber":0,"pageSize":10,"totalPages":6,"totalElements":59}}
                    </code>
                </div>


            </div>
        </div>




        <div class="row" style = "margin-top: 0">

            <div class="col-md-6">
                <h3>Parameters</h3>
            </div>
        </div>


        <div class="row" style = "margin-top: 0" menu-item="By Exchange" id ="by-exchange">
            
            <div class="col-md-6">
                <div class = "list">
                        <code class="accent-bold">exchange</code> <code class="accent-gray">Exchange</code> <code class="accent-hard">Optional</code>
                        <p>
                            Will filter products only listed on a specific exchange. The supported exchanges are:
                            <code class="inline">LSE</code>
                            <code class="inline">XETRA</code>
                            <code class="inline">BORSA_ITALIANA</code>
                            <code class="inline">SIX</code>
                        </p>
                        <p>
                            To get a list of the products listed on an exchange <span class = "accent-hard">EX</span>
                            use:
                        </p>
                        <p>
                            <code class="inline">{{apiUrl}}/search?<span class = "accent-bold">exchange</span>=<span class = "accent-hard">EX</span></code>
                        </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="accent-box">
                    <header>
                        <code>GET</code><code>{{apiUrl}}/search?<span class = "accent-bold">exchange</span>=<span class = "accent-hard">SIX</span></code>
                    </header>
                    <div>
                        <span>Returns a list of funds listed on SIX.</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style = "margin-top: 0" menu-item="By Factor" id ="by-factor">

            <div class="col-md-6">
                <div class = "list">
                        <code class="accent-bold">factor</code> <code class="accent-gray">Factor</code> <code class="accent-hard">Optional</code>
                        <p>
                            Returns products with the given factor. 

                            Factor definitions follow the <a href = "https://www.msci.com/factor-indexes" class = "external">MSCI Factors<i class = "zuri-icon external"></i></a>: 
                        </p>
                        <p>
                            <code class = "inline">VOLATILITY_HIGH</code> 
                            <code class = "inline">VOLATILITY_LOW</code> 
                            <code class = "inline">YIELD</code> 
                            <code class = "inline">QUALITY</code> 
                            <code class = "inline">MOMENTUM</code> 
                            <code class = "inline">VALUE</code> 
                            <code class = "inline">SIZE_BIG</code> 
                            <code class = "inline">SIZE_SMALL</code> 
                            <code class = "inline">MULTIFACTOR</code>
                        </p>
                        <p>
                            In order to search for a product with a specific factor <code class = "accent-green">F</code> use:
                        </p>
                        <p>
                            <code class="inline">{{apiUrl}}/search?<span class = "accent-bold">factor</span>=<span class = "accent-hard">F</span></code>
                        </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="accent-box">
                    <header>
                        <code>GET</code><code>{{apiUrl}}/search?<span class = "accent-bold">factor</span>=<span class = "accent-hard">MOMENTUM</span></code>
                    </header>
                    <div>
                        <span>Returns a list of products which follow a Momentum factor strategy.</span>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style = "margin-top: 0" menu-item="By Country" id ="by-country">

            <div class="col-md-6">
                <div class = "list">
                        <code class="accent-bold">[:ALPHA3-COUNTRY-CODE]</code> <code class="accent-gray">Numeric</code> <code class="accent-hard">Optional</code>
                        <p>
                            The products will be filtered by exposure to the provided

                            <a href = "https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes" class = "external">Alpha3-Country-Code<i class = "zuri-icon external"></i></a>. The minimum exposure required is the value for this parameter.
                        </p>
                        <p>
                            In order to search for products with at least <span class = "accent-green">p%</span> exposure to <span class = "accent-blue">country</span>
                            use:
                        </p>
                        <p>
                            <code class="inline">{{apiUrl}}/search?<span class = "accent-bold">country</span>=<span class = "accent-hard">P</span></code>
                        </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="accent-box">
                    <header>
                        <code>GET</code><code>{{apiUrl}}/search?<span class = "accent-bold">IRL</span>=<span class = "accent-hard">45</span></code>
                    </header>
                    <div>
                        <span>Returns a list of funds which have at least 45% of their assets invested in Ireland.</span>
                    </div>
                </div>
                                <div class="accent-box">
                    <header>
                        <code>GET</code><code>{{apiUrl}}/search?<span class = "accent-bold">RUS</span>=<span class = "accent-hard">1</span></code>&<span class = "accent-bold">HUN</span>=<span class = "accent-hard">1</span></code>&<span class = "accent-bold">POL</span>=<span class = "accent-hard">1</span></code>
                    </header>
                    <div>
                        <span>Finds products with some broad Eastern Europe exposure.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style = "margin-top: 0" menu-item="By Sector" id = "by-sector">

            <div class="col-md-6">
                <div class = "list">
                    <code class="accent-bold">[:SECTOR]</code> <code class="accent-gray">Numeric</code> <code class="accent-hard">Optional</code>
                        <p>
                            The products will be filtered by exposure to the provided

                            <code class = 'inline'>Sector</code>. The minimum exposure required is the value for this parameter.
                        </p>
                        <p>
                            The sectors follow the <a href = "https://www.msci.com/gics" class = "external">Global Industry Classification Standard<i class = "zuri-icon external"></i></a>:
                        </p>
                        <p>
                            <code class = "inline">INFORMATION_TECHNOLOGY</code> 
                            <code class = "inline">COMMUNICATION_SERVICES</code> 
                            <code class = "inline">INDUSTRIALS</code> 
                            <code class = "inline">HEALTH_CARE</code> 
                            <code class = "inline">MATERIALS</code> 
                            <code class = "inline">REAL_ESTATE</code> 
                            <code class = "inline">ENERGY</code> 
                            <code class = "inline">CONSUMER_DISCRETIONARY</code> 
                            <code class = "inline">CONSUMER_STAPLES</code> 
                            <code class = "inline">UTILITIES</code> 
                            <code class = "inline">FINANCIALS</code>
                        </p>
                        <p>
                            In order to search for products with at least <span class = "accent-green">p%</span> exposure to a <span class = "accent-blue">sector</span>
                            use:
                        </p>
                        <p>
                            <code class="inline">{{apiUrl}}/search?<span class = "accent-bold">sector</span>=<span class = "accent-hard">p</span></code>
                        </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="accent-box">
                    <header>
                        <code>GET</code><code>{{apiUrl}}/search?<span class = "accent-bold">ENERGY</span>=<span class = "accent-hard">30</span>&<span class = "accent-bold">FINANCIALS</span>=<span class = "accent-hard">30</span></code>
                    </header>

                    <p>
                        Returns products with at least 30% exposure to Energy and 30% exposure to Financials.
                    </p>
                </div>


            </div>
        </div>


        <div class="row" style = "margin-top: 0" menu-item="By Fee" id = "by-fee">

            <div class="col-md-6">
                <div class = "list">
                        <code class="accent-bold">totalFee</code> <code class="accent-gray">Numeric</code> <code class="accent-hard">Optional</code>
                        <p>
                            Will filter products that have at most the total fee provided.
                        </p>
                        <p>
                            To get a list of the products that have at most <span class = "accent-green">p%</span> fee use: 
                        </p>
                        <p>
                            <code class="inline">{{apiUrl}}/search?<span class = "accent-bold">totalFee</span>=<span class = "accent-hard">p</span></code>
                        </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="accent-box">
                    <header>
                        <code>GET</code><code>{{apiUrl}}/search?<span class = "accent-bold">totalFee</span>=<span class = "accent-hard">4.5</span></code>
                    </header>
                    <div>
                        <span>Returns a list of products that have at most 4.5% fee. For instance all ETFs with TERS smaller than or equal to 4.5% will be included here.</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style = "margin-top: 0" menu-item="By Domicile" id = "by-domicile">

            <div class="col-md-6">
                <div class = "list">
                        <code class="accent-bold">domicile</code> <code class="accent-gray">ALPHA3-COUNTRY-CODE</code> <code class="accent-hard">Optional</code>
                        <p>
                            Returns products which are domiciles in the provided country. The country provided should be in an 

                            <a href = "https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes" class = "external">Alpha3-Country-Code<i class = "zuri-icon external"></i></a> format.
                        </p>
                        <p>
                            To get a list of the products that are domiciled in country <span class = "accent-green">CTY</span> use: 
                        </p>
                        <p>
                            <code class="inline">{{apiUrl}}/search?<span class = "accent-bold">domicile</span>=<span class = "accent-hard">CTY</span></code>
                        </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="accent-box">
                    <header>
                        <code>GET</code><code>{{apiUrl}}/search?<span class = "accent-bold">domicile</span>=<span class = "accent-hard">LUX</span></code>
                    </header>
                    <div>
                        <span>Returns a list of products that are domiciled in Luxembourg.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style = "margin-top: 0" menu-item="By Replication" id = "by-replication">

            <div class="col-md-6">
                <div class = "list">
                        <code class="accent-bold">replicationMethod</code> <code class="accent-gray">ReplicationMethod</code> <code class="accent-hard">Optional</code>
                        <p>
                            Returns products with the given replication method. The available replication methods are:
                        </p>
                        <p>
                            <code class = "inline">PHYSICAL</code> <code class = "inline">SYNTHETIC</code>
                        </p>
                        <p>
                            In order to search for a product with replication method <code class = "accent-green">REPLICATION_METHOD</code> use:
                        </p>
                        <p>
                            <code class="inline">{{apiUrl}}/search?<span class = "accent-bold">replicationMethod</span>=<span class = "accent-hard">REPLICATION_METHOD</span></code>
                        </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="accent-box">
                    <header>
                        <code>GET</code><code>{{apiUrl}}/search?<span class = "accent-bold">replicationMethod</span>=<span class = "accent-hard">PHYSICAL</span></code>
                    </header>
                    <div>
                        <span>Returns a list of products which are physically replicated.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style = "margin-top: 0" menu-item="By Distribution" id = "by-dist">

            <div class="col-md-6">
                <div class = "list">
                        <code class="accent-bold">distributionType</code> <code class="accent-gray">DistributionType</code> <code class="accent-hard">Optional</code>
                        <p>
                            Returns products with the given distribution type. The available distribution types are:
                        </p>
                        <p>
                            <code class = "inline">DISTRIBUTING</code> <code class = "inline">ACCUMULATING</code>
                        </p>
                        <p>
                            In order to search for a product with distribution type <code class = "accent-green">DIST_TYPE</code> use:
                        </p>
                        <p>
                            <code class="inline">{{apiUrl}}/search?<span class = "accent-bold">distributionType</span>=<span class = "accent-hard">DIST_TYPE</span></code>
                        </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="accent-box">
                    <header>
                        <code>GET</code><code>{{apiUrl}}/search?<span class = "accent-bold">distributionType</span>=<span class = "accent-hard">DISTRIBUTING</span></code>
                    </header>
                    <div>
                        <span>Returns a list of products which distribute their dividends.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style = "margin-top: 0" menu-item="By Asset Class" id = "by-asset-class">

            <div class="col-md-6">
                <div class = "list">
                        <code class="accent-bold">assetClass</code> <code class="accent-gray">AssetClass</code> <code class="accent-hard">Optional</code>
                        <p>
                            Returns products with the given asset class. The available asset classes are:
                        </p>
                        <p>
                            <code class = "inline">FIXED_INCOME</code>
                            <code class = "inline">COMMODITIES</code>
                            <code class = "inline">REAL_ESTATE</code>
                            <code class = "inline">EQUITY</code>
                            <code class = "inline">CURRENCY</code>
                        </p>
                        <p>
                            In order to search for a product with asset class <code class = "accent-green">ASSET</code> use:
                        </p>
                        <p>
                            <code class="inline">{{apiUrl}}/search?<span class = "accent-bold">assetClass</span>=<span class = "accent-hard">ASSET</span></code>
                        </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="accent-box">
                    <header>
                        <code>GET</code><code>{{apiUrl}}/search?<span class = "accent-bold">assetClass</span>=<span class = "accent-hard">EQUITY</span></code>
                    </header>
                    <div>
                        <span>Returns a list of products with asset class EQUITY (e.g. ETFs and Equity Funds)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>