
<nav id = "side-menu" class = "side-menu">

    <a class="puller" href="" v-on:click.prevent="interaction.menu = !interaction.menu" >
        <i class = "zuri-icon arrow-right"></i>
    </a>
    <div class="representation">
        <a href="#">
            <img class="logo" src="/images/etf-data_logo.png"/>
            <header>
                <span class="accent-blue">ETF</span> Data API
                <div class = "note">Quality ETF fundamental </br> data, updated daily.</div>
            </header>
        </a>
    </div>

    <ul>
        <li>
            <a href="/">Home</a>
        </li>
    </ul>

    <footer>
        <ul>
            <li class = "note">This is a <a class = "link" href='https://zurianalytics.com'>ZuriAnalytics</a> API.</a></li>
        </ul>
    </footer>
</nav>
