<div
  id="subscriptions-app"
  class="container-fluid"
  menu-item="Subscriptions"
  top
  id="subscriptions"
>
  <div class="row">
    <div class="col-md-6">
      <h1>Subscriptions<i class="zuri-icon invoice size-l align-middle right"></i></h1>

      <p>
        {{ apiName }} can be called for free up to a certain number of requests
        daily. The number of free requests may change day-to-day, as we closely
        monitor abuse.
      </p>

      <p>
        Nevertheless, it should always be enough for someone just exploring the
        API and doing small individual research. In the case where these
        requests are not enough, you will need to subscribe to one of the plans
        listed below.
      </p>
    </div>
  </div>

  <div class="row" id="subscription-plans" menu-item="Plans">
    <div class="col-md-12">
      <h2>Subscription Plans</h2>

      <div class="row">
        
        <div class="col-md-4">
          <div class = "plan">
            <h3 class = "marg-m">Professional</h3>
            <div>
              <p class = "label">
                For individuals, or small applications aimed at a small set of users.<a href ='https://zurianalytics.com/terms_conditions' target="_blank" class = 'link'>Terms & conditions</a>
              </p>
              <p>
                <h3>
                  <i class = "zuri-icon terminal baseline"></i><span class="accent-green">5'000</span> API calls <span class = "label">| month</span>
                </h3>
              </p>

              <div>
                <span class="accent-bold">34 &euro;</span> <span class = "label">| month</span>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class = "plan dark">
            <h3 class = "marg-m">Business</h3>
            <div>
              <p class = "label">
                For applications & businesses presenting fund data to clients.<a href ='https://zurianalytics.com/terms_conditions' target="_blank" class = 'link'>Terms & conditions</a>
              </p>
              <p>
                <h3>
                  <i class = "zuri-icon terminal baseline"></i><span class="accent-green">10'000'000</span> API calls <span class = "label">| month</span>
                </h3>
              </p>

              <div>
                <span class="accent-bold">345 &euro;</span> <span class = "label">| month</span>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class = "plan">
            <h3 class = "marg-m">Customized</h3>
            <div>
              <p class = "label">
                Something else you would like? XLSX? CSV? Integration support?
              </p>
              <p>
                <h3>Get in touch:</h3>
                <a
                  class="link"
                  href="mailto:contact@zurianalytics.com"
                  >contact@zurianalytics.com</a
                >
              </p>

            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-8">
          <form id="payment-form" class = "marg-m">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class = "label top">
                    <a
                      class="info"
                      data-tippy-content="The API token is used to authenticate & track all API calls.
                      <a href = '#authentication' class = 'link'>Lean more</a>
                      
                      <br/><br/>
                      <div class = 'accent-bold'>MAKE SURE YOU HAVE SAVED YOUR TOKEN BEFORE SUBSCRIBING</div>"

                      >API Token
                      <i class = "zuri-icon lightbulb size-s action"></i>
                    </a>
                    <a data-tippy-content="Generate a new token" v-on:click="initializeToken" class = "action">
                      <i class = "zuri-icon refresh"></i>
                    </a>
                  </label>
                  <textarea
                    id="api-token-create"
                    readonly="readonly"
                    v-model="payment.token"
                    v-on:click="copyToClipboard"
                  ></textarea>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="plan" class = "label top">
                    Select Plan*
                  </label>
                  <select
                    id="plan"
                    selected="individual"
                    v-model="payment.plan">
                  <option value="price_1H17bMIVlbyABCXkDOYDSSaG">Professional</option>
                  <option value="price_1H17cHIVlbyABCXkN4zDaKnt">Business</option>
                  </select>
                </div>

                <div class="form-group">
                  <div class = "row">
                    <div class = "col-md-12">
                      <input type = "checkbox" id = "saved-token" v-model="payment.tokenSaved"></input>
                      <label class = "label" for = "saved-token">I have saved my token to a secure location*</label>
                    </div>
                    <div class = "col-md-12">
                      <input type = "checkbox" id = "tos" v-model="payment.tos"></input>
                      <label class = "label" for = "tos">I have read and agree to the<a class = "link" href = "https://zurianalytics.com/terms_conditions/" target="_blank">T&C*</a></label>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <span id="subscribe-wrapper" class = "form-group">
              
              <button
                :disabled="!payment.plan || payment.processing || !payment.tos || !payment.tokenSaved"
                id="subscribe"
                v-on:click="selfCheckout">
                <span>Subscribe</span>
                <i class = "zuri-icon load align-middle" v-if="payment.processing"></i>
              </button>
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="manage-subscription" menu-item="Manage">
    <div class="col-md-6">
      <h2>Manage Subscription</h2>

      <p>
        You can manage your subscription by adding time/ changing payment
        methods/ cancelling subscriptions, etc. by logging in with your token.
        In case of any issues, please don't hesitate to contact us at
        <a href="mailto:support@zurianalytics.com" class = "link">support@zurianalytics.com<i class = "zuri-icon external"></i></a>
      </p>

      <form id="manage-subscription-form" method="GET">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label class = "label top">
                <a
                  class="info"
                  data-tippy-content="This is the API token you have loaded time & requests to. An expired token can be managed, but an unloaded one cannot."
                  >API Token<i class = "zuri-icon lightbulb size-s"></i>
                </a>
              </label>
              <textarea
                id="api-token-manage"
                v-model="dashboard.token"
              ></textarea>
            </div>
          </div>
        </div>
        
        <div class = "form-group">
          <button
          :disabled="!dashboard.token"
          id="management-portal"
          v-on:click="managementDashboardLogin"
        >
          <span>Manage Subscription</span>
        </button>
        </div>
        
      </form>
    </div>
  </div>
</div>
