
    <div class="container-fluid" id="introduction" menu-item="Introduction" top>

        <h1>Introduction</h1>

        <div class="row">
            <div class="col-md-6">

                <p>
                    {{apiName}} contains deep fundamental information about most ETFs, ETNs, ETCs and other fund-like products listed on all major european exchanges.
                </p>

                <p>
                    {{apiName}} provides basic information such as: 
                    Domicile, Followed Index, Asset Class, Fee, Currency, Replication Method, Distribution Type & Frequency.
                    This information is manually analyzed by our team and updated regulary. 

                    Listings of new products are reflected almost immediately.
                </p>
                
                <p>
                    {{apiName}} also provide deep fundamental information derived from the underlying securities such as: <b>Sector Exposre</b>, 
                    <b>Country Exposure</b>, <b>Factors</b>, <b>Dividend Yield</b> etc.

                    This information is dynamically updated as the underlying securities change or are added / removed from their tracking product. 
                </p>
            </div>


            <div class="col-md-6">
                <div class="accent-box .light">

                    <header id="demo-header">
                        <code class="info"
                              data-tippy-content="Input an ISIN into the field to the right, to check what information we store about the security">
                            LIVE DEMO (ISIN):</code><input v-model="isin" v-on:change="getFund()"/>
                    </header>


                    <div id="demo-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class = "accent-blue">{{ fund.name }}</h6>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-12">
                                <div id="sectors" style="width: 100%;" class = "left"></div>
                            </div>

                            <div class="col-sm-12">
                                <div id="countries" style="width: 100%;" class = "right"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <label>ISIN</label><br/>
                                <span>{{ fund.isin }}</span>
                            </div>
                            <div class="col-sm-4">
                                <label>Asset Class</label><br/>
                                <span>{{ fund.assetClass }}</span>
                            </div>
                            <div class="col-sm-4">
                                <label>Product</label><br/>
                                <span>{{ fund.productType }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <label>Factor</label><br/>
                                <span>{{ fund.factor }}</span>
                            </div>
                            <div class="col-sm-4">
                                <label>Domicile</label><br/>
                                <span>{{ fund.domicile }}</span>
                            </div>
                            <div class="col-sm-4">
                                <label>Base Currency</label><br/>
                                <span>{{ fund.baseCurrency }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <label>Replication</label><br/>
                                <span>{{ fund.replicationMethod }}</span>
                            </div>
                            <div class="col-sm-4">
                                <label>Type</label><br/>
                                <span>{{ fund.distributionType }}</span>
                            </div>
                            <div class="col-sm-4">
                                <label>Frequency</label><br/>
                                <span>{{ fund.distributionFrequency }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <label>Index</label><br/>
                                <span>{{ fund.indexName }}</span>
                            </div>
                            <div class="col-sm-4">
                                <label>Provider</label><br/>
                                <span>{{ fund.provider }}</span>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>
    </div>