<html>
<head>
</head>

<body>
    <!-- Styles -->
    <style>
         <%- include('../dist/scss/main.css') -%>
         <%- include('../dist/js/tippy.bundle.css') -%>
    </style>
    
    <div class="container" id="app">

        <!-- Left Side Menu -->
        <div class="row">

            <div class="col-md-2">
                    <% include _includes/section-side-menu %>
            </div>

            <div class="col-md-10">
                <!-- Main Page Conent -->
                <div class="content">

                    <!-- Page content -->
                    <% include _includes/section-introduction %>
                    <% include _includes/section-single-product %>
                    <% include _includes/section-search-product %>
                    <% include _includes/section-authentication %>
                    <% include _includes/section-subscriptions %>

                </div>
            </div>
        </div>
    </div>
</body>


<!-- Global Vue (Needed for everything) -->
<script src = "js/vue.external.js"></script>

<!-- Tippy -->
<script src = "js/tippy.bundle.js"></script>

<!-- App -->
<script async src = "js/app.bundle.js"></script>

<!-- Stripe hosted -->
<script async src="https://js.stripe.com/v3/"></script>

</html>

