<html>
<head>
    <!-- Tracking Pixels -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164363580-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-164363580-2');
    </script>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Quality ETF fundamental data, updated daily. Providing deep data including sector, country, factor, dividend yield, valuations.">
    <meta name="author" content="ETF Data API">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="ETF Data API"/> 
	<meta property="og:site" content="https://api.etf-data.com/"/> 
	<meta property="og:title" content="Quality ETF fundamental data, updated daily"/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="Homepage" />
	<meta property="og:image" content="images/zurianalytics_logo.png"/> 
	<meta property="og:url" content="https://api.etf-data.com/"/> 
	<meta property="og:type" content="article"/>

    <!-- Website Title -->
    <title>ETF Data API</title>
	
	<!-- Favicon  -->
    <link rel="icon" href="/images/zurianalytics_logo.png">
</head>

<body>
    <!-- Styles -->
    <style>
         <%- include('../dist/scss/main.css') -%>
         <%- include('../dist/js/tippy.bundle.css') -%>
    </style>
    
    <div class = "background">
        <div class = "stripe-primary"></div>
        <div class = "stripe-secondary"></div>
    </div>

    <div class="container" id="app">

        <!-- Left Side Menu -->
        <div class="row">

            <div class="col-md-2">
                    <% include _includes/section-side-menu %>
            </div>

            <div class="col-md-10">
                <!-- Main Page Conent -->
                <div class="content">

                    <!-- Page content -->
                    <% include _includes/section-introduction %>
                    <% include _includes/section-single-product %>
                    <% include _includes/section-search-product %>
                    <% include _includes/section-authentication %>
                    <% include _includes/section-subscriptions %>

                </div>
            </div>
        </div>
    </div>
</body>


<!-- Global Vue (Needed for everything) -->
<script src = "js/vue.external.js"></script>

<!-- Tippy -->
<script src = "js/tippy.bundle.js"></script>

<!-- App -->
<script async src = "js/app.bundle.js"></script>

<!-- Stripe hosted -->
<script async src="https://js.stripe.com/v3/"></script>

</html>

