<html>
<head>
</head>

<body>


    <!-- Styles -->
    <style>
         <%- include('../dist/scss/main.css') -%>
         <%- include('../dist/js/tippy.bundle.css') -%>
    </style>
    
    <div class="container" id="app">

        <!-- Left Side Menu -->
        <div class="row">
            <div class="col-md-2">

                <nav v-bind:class="{ active: interaction.menu }">

                    <a class="puller" href="" v-on:click.prevent="interaction.menu = !interaction.menu">
                        <span v-if="!interaction.menu">»</span>
                        <span v-if="interaction.menu">«</span>
                    </a>
                    <div class="representation">
                        <a href="https://zurianalytics.com/">
                            <img class="logo" src="images/logo.png"/>
                            <div><span class="accent-blue">ETF</span> Data API</div>
                        </a>
                    </div>

                    <% include _includes/section-side-menu %>

                    <footer>
                        <ul>
                            <li><a href='#subscription-plans'>Sign Up for a Developer Key</a></li>
                            <li><a href='https://zurianalytics.com'>This is a ZuriAnalytics API.</a></li>
                        </ul>
                    </footer>
                </nav>
            </div>
            <div class="col-md-10">
                <!-- Main Page Conent -->
                <div class="content">

                    <!-- Page content -->
                    <% include _includes/section-introduction %>
                    <% include _includes/section-single-product %>
                    <% include _includes/section-search-product %>
                    <% include _includes/section-authentication %>
                    <% include _includes/section-subscriptions %>

                </div>
            </div>
        </div>

    </div>

</body>


<!-- Global Vue (Needed for everything) -->
<script src = "js/vue.external.js"></script>

<!-- Tippy -->
<script src = "js/tippy.bundle.js"></script>

<!-- App -->
<script async src = "js/app.bundle.js"></script>

<!-- Stripe hosted -->
<script async src="https://js.stripe.com/v3/"></script>

</html>

