@charset "utf-8";
@import 'variables';
@import 'normalize';
@import 'bootstrap';

/*! ---------------------
  Global Styles
  --------------------!*/
html, body {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  line-height: 1.6rem;
  color: $color-blue-1000;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-gray-100;
  height: 100%;
  -webkit-text-size-adjust: none; /* Never autoresize text */

  #app {
    background-color: $color-gray-000;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.3);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  // Container sizes
  @media (max-width: 1200px) {
    & #app {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}


/*! ---------------------
Side menu
  -------------------- !*/
nav {
  background-color: $color-gray-000;
  position: fixed;
  font-weight: bold;
  padding: 1.4rem;
  z-index: 30;

  .puller {
    height: 40vh;
    float: right;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 22px;
    border-right: 2px solid $color-blue-100;
    color: $color-blue-100;
    font-size: 2rem;
  }

  @media (max-width: 1200px) {
    & {
      padding: 0.6rem;
    }
  }

  // Responsive
  @media (max-width: 992px) {
    & {
      padding-right: 0;
      transform: translateX(-100%);
      margin-left: 8px;
      transition: all 0.3s ease-out;
    }

    &.active {
      transform: translateX(0);
      margin-left: 0;
    }

    .puller {
      display: flex;
    }
  }

  // Section at the bottom
  footer {
    border-top: 1px solid $color-gray-100;
  }

  .note 
  {
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: bold;
    color: $color-gray-400;
  }

  // Top header
  .representation {
    
    text-align: center;

    .logo {
      margin-left: auto;
      margin-right: auto;
      max-width: 80px;
      margin-bottom: 0;
    }
  }

  // Main list of links
  & > ul {
    line-height: 2rem;
    border-top: 1px solid $color-gray-100;
    font-size: 0.9rem;

    .active > a {
      color: $color-blue-100;
    }

    // First level headers
    ul, li {
      line-height: 2rem;
    }

    li {
      color: $color-gray-900;

      // Second level headers
      li {
        padding-left: 1rem;
        font-weight: normal;
        font-size: 0.85rem;
      }

      ul {
        max-height: 0;
        overflow: hidden;
      }

      &.active ul {
        max-height: 400px;
      }

      ul, li {
        transition: all 0.6s 0s;
      }
    }
  }
}







/*! ---------------------
  Chart styles
  -------------------- !*/
.left 
{
  .pie-chart {
    transform: translate(160px, 0);
  }

  .chart-legend
  {
    transform: translate(0, 0);
  }
}

.right 
{
  .pie-chart
  {
    transform: translate(-40px, 0);
  }

  .chart-legend
  {
    transform: scaleX(-1);

    & .legend-dot,
    & .legend-dataset-text
    {
      transform: scaleX(-1) translateX(80%);
    }
  }
}

.chart-container .legend-dataset-text {
  fill: $color-blue-100;
  font-weight: 600;
}



/*! ---------------------
  Content formatting styles
  -------------------- !*/
.content {

  h1 {
    @extend %header-font;
    font-size: 2rem;
  }

  h2 {
    @extend %header-font;
    font-size: 1.5rem;
  }

  h1, h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  & > .container-fluid {
    border-top: 1px solid $color-gray-100;
    padding-top: 3rem;

    &:first-of-type {
      border-top: none;
      margin-top: 0;
    }

    margin-top: 12rem;

    & > .row
    {
      margin-top: 8rem;
      &:first-of-type
      {
        margin-top: 0;
      }
    }
  }

  h3, h4, h5, h6 {
    @extend %header-font;
    font-size: 1.2rem;
    margin-top: 2.5em;
    margin-bottom: 0.8em;
  }

  code {
    @extend %break-words;
    @extend %code-font;
  }

  li, .list {
    border-top: 1px solid $color-gray-100;
    padding: 1rem 0;
  }
}


/*! ---------------------
  Accents & Special
  -------------------- !*/
.content {

  // External && info
  a.external, a.info, a.internal {

    display: inline-block;
    color: $color-blue-100;

    &:after {
      font-family: icons;
      vertical-align: top;
      font-size: 0.7em;
      margin-left: 4px;
    }

    &.info {
      color: $color-blue-100;
      cursor: help;
      border-bottom: 1px dotted $color-blue-100;

      &:after {
        content: '\e101';
      }
    }

    &.external, &.internal {
      &.external:after {
        content: '\e100';
      }
      &.internal:after {
        content: '\e102';
      }

      /* Effect */
      & {
        padding: 0 4px;
        position: relative;
        display: inline-block;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;

        &::before {
          position: absolute;
          top: 60%;
          left: 50%;
          color: transparent;
          content: '•';
          text-shadow: 0 0 transparent;
          font-size: 1em;
          -webkit-transition: text-shadow 0.3s, color 0.3s;
          -moz-transition: text-shadow 0.3s, color 0.3s;
          transition: text-shadow 0.3s, color 0.3s;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          transform: translateX(-50%);
          pointer-events: none;
        }

        &:hover::before,
        &:focus::before {
          color: $color-blue-100;
          text-shadow: 10px 0 $color-blue-100, -10px 0 $color-blue-100;
        }
      }
    }
  }

  code.inline {
    background-color: #f4f7f996;
    padding: 0.15rem 0.3rem;
    border-radius: 4px;
    border: 1px solid #d3e1f26b;
    display:inline-block;
  }

  .accent-blue {
    color: $color-blue-100;
  }

  .accent-green {
    color: $color-green-100;
  }

  .accent-hard {
    color: $color-green-100;
    font-weight: bold;
    text-transform: uppercase;
  }

  .accent-gray {
    font-weight: bold;
    color: $color-gray-400;
  }

  .accent-bold {
    font-weight: bold;
    color: $color-blue-100;
  }
}


/*! ---------------------
  Dark Box Styles
  -------------------- !*/
.content .accent-box {
  background-color: $color-blue-800;
  border-radius: 10px;
  color: $color-gray-000;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 2rem;
  @extend %code-font;

  #demo-content h6
  {
    margin-top: 0;
  }

  #demo-content .row
  {
    padding: 0.3rem;
  }

  
  header {
    background-color: $color-blue-1000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    & > *:first-child {
      color: $color-green-100;
      font-weight: bold;
      margin-right: 10px;
      animation: blinker-text 1.4s linear infinite;
    }

    input {
      background: rgba(1, 1, 1, 0.3);
      padding: 2px 10px;
      border: none;
      border-bottom: 1px solid $color-green-100;
      animation: blinker-border 1.4s linear infinite;
    }

    @keyframes blinker-text {
      50% {
        color: #5dd9d7;
        opacity: 0.7;
      }
    }

    @keyframes blinker-border {
      50% {
        border-bottom-color: #5dd9d7;
        opacity: 0.7;
      }
    }
  }

  & > * {
    padding: 1.2rem 2rem;
  }

  .json-formatter-row,
  .json-formatter-row a,
  .json-formatter-row a:hover,
  .json-formatter-number {
    color: $color-gray-000 !important;
  }

  label,
  .json-formatter-key,
  .json-formatter-bracket {
    color: $color-blue-100;
  }

  .json-formatter-string {
    color: $color-green-100;
  }

  .json-formatter-null {
    color: $color-gray-900;
  }
}


/*! ---------------------
  Form Elements
  -------------------- !*/
form {
  margin-top: 3rem;
  background-color: $color-gray-100;
  padding: 1rem;

  input, textarea, select, .StripeElement {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: $color-gray-000;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    margin-bottom: 1rem;
  }

  .StripeElement--focus, input:focus, select:focus, textarea:focus {
    box-shadow: 0 1px 3px 0 #bec7d1;
  }

  .StripeElement--invalid, input:invalid, select:invalid {
    border-color: $color-orange-400;
  }

  button {
    background: $color-blue-100;
    color: $color-gray-100;
    height: 38px;
    padding: 0 14px;
    border: none;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border-radius: 4px;

    & > img {
      height: 50%;
      vertical-align: middle;
    }

    &:disabled {
      background: $color-gray-900;

      &.success {
        background: $color-green-100;
      }
    }
  }

  label {
    display: block;
    color: $color-gray-400;
    font-size: 0.85rem;
    margin-bottom: 6px;
  }

  textarea {
    height: 8rem !important;
    resize: none;
  }
}


/*! ---------------------
  Tippy
  -------------------- !*/
.tippy-box {
  padding: 0.8rem;

  // Animation
  &[data-animation=scale] {
    &[data-placement^=top] {
      transform-origin: bottom
    }

    &[data-placement^=bottom] {
      transform-origin: top
    }

    &[data-placement^=left] {
      transform-origin: right;
    }

    &[data-placement^=right] {
      transform-origin: left
    }

    &[data-state=hidden] {
      transform: scale(.5);
      opacity: 0
    }
  }

  // Styles
  &[data-theme~='zurianalytics'] {
    background-color: $color-gray-100;
    color: $color-gray-900;

    &[data-placement^='top'] > .tippy-arrow::before,
    &[data-placement^='bottom'] > .tippy-arrow::before,
    &[data-placement^='left'] > .tippy-arrow::before,
    &[data-placement^='right'] > .tippy-arrow::before {
      border-top-color: $color-gray-100;
    }
  }

  &[data-theme~='aggressive'] {
    background-color: $color-orange-400;
    color: $color-orange-400-subtle;

    &[data-placement^='bottom'] > .tippy-arrow::before,
    &[data-placement^='top'] > .tippy-arrow::before {
      border-bottom-color: $color-orange-400;
      color: $color-orange-400;
    }
  }

  &[data-theme~='mild'] {
    background-color: $color-green-100;
    color: $color-gray-000;

    &[data-placement^='bottom'] > .tippy-arrow::before,
    &[data-placement^='top'] > .tippy-arrow::before {
      border-bottom-color: $color-green-100;
      color: $color-green-100;
    }
  }

}
